{{#if resume.education.length}}
<div class="container education-container">
    {{> title value="Ausbildung"}} {{#each resume.education}}
    <section class="item">
        {{> section-header name=this.institution website=this.url }} {{#if location}}
        <h5 class="location">{{{markdownToHtml location}}}</h5>
        {{/if}}

        <h4>{{#if studyType}}{{{markdownToHtml studyType}}}, {{/if}}{{#if area}}{{{markdownToHtml area}}}{{/if}}</h4>

        {{#if score}}
        <h5>{{{markdownToHtml score}}}</h5>
        {{/if}} {{#if specialization}}
        <h5 class="specialization">{{{markdownToHtml specialization}}}</h5>
        {{/if}} {{#if courses.length}}
        <ul class="two-column">
            {{#each courses}}
            <li>{{{markdownToHtml .}}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}
