{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Arbeitserfahrung"}}

    {{#each resume.work}}
        <section class="item">
            {{> section-header name=this.name website=this.url }}

            {{#if position}}
            <h4>{{position}}</h4>
            {{/if}}

            {{#if location}}
            <h5 class="location">{{location}}</h5>
            {{/if}}

            {{#if keywords.length}}
            <div class="flex-container">
                {{#each keywords}}
                    <h6 class="skill">{{.}}</h6>
                {{/each}}
            </div>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
